h1 {text-align: center; font-family: serif;color: DarkgoldenRod}
p {font-size: 6mm; font-family: sans-serif;color: magenta}
ol {font-size: 5mm; color: tomato}
h2 {font-family: serif;}
img {width: 100%; height: 600px}
body {background-color: lightgreen;}
footer {text-align: center}
